
<h1 style="text-align: center; ">MEAN Stack </h1>
<!-- <app-two-way-binding></app-two-way-binding>
<hr>
<app-one-way-binding></app-one-way-binding> -->
<!-- <hr> -->
<!-- <app-directives></app-directives> -->
<!-- <hr> -->
<!-- <app-pipes></app-pipes> -->
<!-- {{arr}}
<table border="1">
<tbody>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr *ngFor="let arr of getPostData">
        <td>{{arr.id}}</td>
        <td>{{arr.name}}</td>
        <td>{{arr.username}}</td>
        <td>{{arr.email}}</td>
        <td>{{arr.phone}}</td>
    </tr>
</tbody>
</table> -->
<app-template-driven></app-template-driven>
<hr>
<app-reactive></app-reactive>
